/* Styles for the container */
.image-container {
    position: relative; /* This is necessary to position the pseudo-element */
  }
  
  /* Styles for the pseudo-element with linear gradient */
  .image-container::before {
    content: ''; /* Pseudo-elements need content, even if empty */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%); /* Replace with your gradient colors */
    pointer-events: none; /* This ensures the pseudo-element doesn't interfere with interactions */
  }
  
  /* Styles for the image inside the container */
  .image-container img {
    display: block; 
    max-width: 100%; }
  
  /* meat the team  */
  .bg-2{
    /* Set the background image */
    background-image: url('./images/banner1.png');
   background-size: cover;
    
   
    background-repeat: no-repeat; /* Prevent image repetition */
  }
  
